{% extends 'header.html' %}
{% block content %}
<div class="container col-md-6 mt-4">

  <!-- 🟢 Mensajes de éxito o error -->
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success text-center mt-2">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  <h3 class="mb-3">Alta de nuevo usuario</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Registrarme</button>
  </form>

</div>
{% endblock %}